<%- layout('layouts/main.ejs') %>

<div class="card p-4 mx-auto" style="max-width: 28rem;"> 
    <h3 class="card-title text-center">Change your name</h3>
    <div class="card-body">
        <form action="/change_name" method="post">
            <!-- New username -->
            <div class="mb-3">
                <label class="form-label">New name</label>
                <input type="text" class="form-control" name="new" value="<%= user.name %>">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
