<%- layout('layouts/main.ejs') %>

<div class="card p-4 mx-auto" style="width: 28rem;"> 
    <h3 class="card-title text-center">Forgot my password :(</h3>

    <div class="card-body">
        <p>Pardon the inconveniences, we will have a proper implementation 
            for this in the second version of the app.</p>
        <p>Send us a message through one of these options. We will try to 
            contact you as soon as posible with a solution.</p>

        <div class="text-center">
            <a href="https://oscaralexes.wordpress.com"  target="_blank" class="btn btn-secondary">Website</a>
            <a href="https://www.linkedin.com/in/oscar-alex"  target="_blank" class="btn btn-secondary">LinkedIn</a>
        </div>
    </div>
</div>