<%- layout('layouts/main.ejs') %>

<!-- If not authenticated -->
<% if(!isAuthenticated){ %>
<h1>Hello World</h1>
Welcome to my app. Sign up and start to use it.
<br>
<audio controls>
  <source src="http://localhost:3000/tracks/6202f0e69c668b9d527c8feb">
</audio>


<% } %>

<!-- If authenticated -->
<% if(isAuthenticated){ %>
<h1>Welcome <%= user.name %></h1>

Here is my music player.

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Music player</h5>
      <p class="card-text">Title</p>
      <a href="#" class="btn btn-primary"><<</a>
      <a href="#" class="btn btn-primary">> ll</a>
      <a href="#" class="btn btn-primary">>></a>
    </div>
</div>

<% } %>